{% extends 'base.html' %} {% block content %}
<h2>Adicionar Novo Voo</h2>
<form class="form" method="post">
  <fieldset class="form__group">
    <label for="datahora_partida" class="form-label"
      >Data e Hora de Partida</label
    >
    <input
      type="datetime-local"
      class="form-control"
      id="datahora_partida"
      name="datahora_partida"
      required
    />
  </fieldset>
  <fieldset class="form__group">
    <label for="datahora_chegada" class="form-label"
      >Data e Hora de Chegada</label
    >
    <input
      type="datetime-local"
      class="form-control"
      id="datahora_chegada"
      name="datahora_chegada"
      required
    />
  </fieldset>
  <fieldset class="form__group">
    <label for="origem" class="form-label">Origem</label>
    <select name="origem" id="origem" class="form-select" required>
      <option value="" selected disabled hidden>Selecione a origem</option>
      {% for aeroporto in aeroportos %}
      <option value="{{ aeroporto.pk_aeroporto }}">
        {{ aeroporto.codigo ~ ' | ' ~ aeroporto.cidade ~ ' - ' ~ aeroporto.pais
        }}
      </option>
      {% endfor %}
    </select>
  </fieldset>

  <fieldset class="form__group">
    <label for="destino" class="form-label">Destino</label>
    <select name="destino" id="destino" class="form-select" required>
      <option value="" selected disabled hidden>Selecione o destino</option>
      {% for aeroporto in aeroportos %}
      <option value="{{ aeroporto.pk_aeroporto }}">
        {{ aeroporto.codigo ~ ' | ' ~ aeroporto.cidade ~ ' - ' ~ aeroporto.pais
        }}
      </option>
      {% endfor %}
    </select>
  </fieldset>
  <fieldset class="form__group">
    <label for="aviao_id" class="form-label">Avião</label>
    <select name="aviao_id" id="aviao_id" class="form-select" required>
      <option value="" selected disabled hidden>Selecione um avião</option>
      {% for aviao in avioes %}
      <option value="{{ aviao.pk_aviao }}">
        {{ aviao.fabricante ~ ' - ' ~ aviao.modelo }}
      </option>
      {% endfor %}
    </select>
  </fieldset>

  <fieldset class="form__group form__actions">
    <button type="submit" class="form__button">Adicionar</button>
    <a
      href="{{ url_for('flights.index_flights_route') }}"
      class="form__actions__link"
      >Voltar</a
    >
  </fieldset>
</form>
{% endblock %}
