{% extends 'base.html' %} {% block content %}
<h2>Adicionar Novo Voo</h2>
<form class="form" method="post">
  <fieldset class="form__group">
    <label for="origem" class="form-label">Origem</label>
    <input
      type="text"
      class="form-control"
      id="origem"
      name="origem"
      placeholder="Digite a origem"
      required
    />
  </fieldset>
  <fieldset class="form__group">
    <label for="destino" class="form-label">Destino</label>
    <input
      type="text"
      class="form-control"
      id="destino"
      name="destino"
      placeholder="Digite o destino"
      required
    />
  </fieldset>
  <fieldset class="form__group">
    <label for="datahora_partida" class="form-label"
      >Data e Hora de Partida</label
    >
    <input
      type="datetime-local"
      class="form-control"
      id="datahora_partida"
      name="datahora_partida"
      required
    />
  </fieldset>
  <fieldset class="form__group">
    <label for="datahora_chegada" class="form-label"
      >Data e Hora de Chegada</label
    >
    <input
      type="datetime-local"
      class="form-control"
      id="datahora_chegada"
      name="datahora_chegada"
      required
    />
  </fieldset>
  <fieldset class="form__group">
    <label for="status" class="form-label">Status</label>
    <select class="form-select" id="status" name="status" required>
      <option value="planejado">Planejado</option>
      <option value="em andamento">Em Andamento</option>
      <option value="concluido">Concluído</option>
      <option value="cancelado">Cancelado</option>
    </select>
  </fieldset>
  <fieldset class="form__group form__actions">
    <button type="submit" class="form__button">Adicionar</button>
    <a
      href="{{ url_for('flights.index_flights_route') }}"
      class="form__actions__link"
      >Voltar</a
    >
  </fieldset>
</form>
{% endblock %}
