{% extends 'base.html' %} {% block content %}
<h2>Lista de Voos</h2>
<div class="table__frame">
  <table class="table table-striped">
    <thead class="table__heading">
      <tr>
        <th>ID</th>
        <th>Origem</th>
        <th>Destino</th>
        <th>Data Partida</th>
        <th>Data Chegada</th>
        <th>Status</th>
        <th class="table__actions">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for flight in flights %}
      <tr>
        <td>{{ flight['pk_voo'] }}</td>
        <td>{{ flight['origem'] }}</td>
        <td>{{ flight['destino'] }}</td>
        <td>{{ flight['datahora_partida'] }}</td>
        <td>{{ flight['datahora_chegada'] }}</td>
        <td>{{flight['status']}}</td>
        <td class="table__actions table__actions-row">
          <a
            href="{{ url_for('flights.update_flights_route', voos_id=flight['pk_voo']) }}"
            class="table__actions-link"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              width="19"
            >
              <path
                d="M15.7279 9.57627L14.3137 8.16206L5 17.4758V18.89H6.41421L15.7279 9.57627ZM17.1421 8.16206L18.5563 6.74785L17.1421 5.33363L15.7279 6.74785L17.1421 8.16206ZM7.24264 20.89H3V16.6473L16.435 3.21231C16.8256 2.82179 17.4587 2.82179 17.8492 3.21231L20.6777 6.04074C21.0682 6.43126 21.0682 7.06443 20.6777 7.45495L7.24264 20.89Z"
              ></path></svg
          ></a>
          <a
            href="{{ url_for('flights.delete_flights_route', voos_id=flight['pk_voo']) }}"
            class="table__actions-link table__actions-link-delete"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              width="16"
            >
              <path
                d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z"
              ></path></svg
          ></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<a href="{{ url_for('flights.add_flights_route') }}" class="table__button"
  >Adicionar Novo Voo</a
>
{% endblock %}
