{% extends 'base.html' %} {% block content %}
<h2>Editar Voo</h2>
<form class="form" method="post">
  <fieldset class="form__group">
    <label for="datahora_partida" class="form-label"
      >Data e Hora de Partida</label
    >
    <input
      type="datetime-local"
      class="form-control"
      id="datahora_partida"
      name="datahora_partida"
      value="{{ flight['datahora_partida'] }}"
      required
    />
  </fieldset>
  <fieldset class="form__group">
    <label for="datahora_chegada" class="form-label"
      >Data e Hora de Chegada</label
    >
    <input
      type="datetime-local"
      class="form-control"
      id="datahora_chegada"
      name="datahora_chegada"
      value="{{ flight['datahora_chegada'] }}"
      required
    />
  </fieldset>
  <fieldset class="form__group">
    <label for="origem" class="form-label">Origem</label>
    <select name="origem" id="origem" class="form-select" required>
      <option value="" selected disabled hidden>Selecione a origem</option>
      {% for aeroporto in aeroportos %}
      <option value="{{ aeroporto.pk_aeroporto }}" {% if aeroporto.pk_aeroporto == flight.fk_origem %}selected{% endif %}>
        {{ aeroporto.codigo ~ ' | ' ~ aeroporto.cidade ~ ' - ' ~ aeroporto.pais
        }}
      </option>
      {% endfor %}
    </select>
  </fieldset>
  <fieldset class="form__group">
    <label for="destino" class="form-label">Destino</label>
    <select name="destino" id="destino" class="form-select" required>
      <option value="" selected disabled hidden>Selecione o destino</option>
      {% for aeroporto in aeroportos %}
      <option value="{{ aeroporto.pk_aeroporto }}" {% if aeroporto.pk_aeroporto == flight.fk_destino %}selected{% endif %}>
        {{ aeroporto.codigo ~ ' | ' ~ aeroporto.cidade ~ ' - ' ~ aeroporto.pais
        }}
      </option>
      {% endfor %}
    </select>
  </fieldset>
    <fieldset class="form__group">
      <label for="aviao_id" class="form-label">Avião</label>
      <select name="aviao_id" id="aviao_id" class="form-select" required>
        <option value="" selected disabled hidden>Selecione um avião</option>
        {% for aviao in avioes %}
        <option value="{{ aviao.pk_aviao }}" {% if aviao.pk_aviao == flight.fk_aviao %}selected{% endif %}>
          {{ aviao.fabricante ~ ' - ' ~ aviao.modelo }}
        </option>
        {% endfor %}
      </select>
    </fieldset>
  <fieldset class="form__group">
    <label for="status" class="form-label">Status</label>
    <select class="form-select" id="status" name="status" required>
      <option value="planejado" {% if flight['status'] == 'planejado' %}selected{% endif %}>Planejado</option>
      <option value="em andamento" {% if flight['status'] == 'em andamento' %}selected{% endif %}>Em Andamento</option>
      <option value="concluido" {% if flight['status'] == 'concluido' %}selected{% endif %}>Concluído</option>
      <option value="cancelado" {% if flight['status'] == 'cancelado' %}selected{% endif %}>Cancelado</option>
    </select>
  </fieldset>
  <fieldset class="form__group form__actions">
    <button type="submit" class="form__button">Salvar</button>
    <a
      href="{{ url_for('flights.index_flights_route') }}"
      class="form__actions__link"
      >Voltar</a
    >
  </fieldset>
</form>
{% endblock %}
