{% extends 'base.html' %} {% block content %}
<h2>Adicionar Novo Usuário</h2>
<form class="form" method="post">
  <fieldset class="form__group">
    <label for="nome" class="form-label">Nome</label>
    <input
      type="text"
      class="form-control"
      id="nome"
      name="nome"
      placeholder="Digite o nome"
      required
    />
  </fieldset>
  <fieldset class="form__group">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Digite o email"
      required
    />
  </fieldset>
  <fieldset class="form__group form__actions">
    <button type="submit" class="btn btn-success">Salvar</button>
    <a
      href="{{ url_for('clients.index_clientes_route') }}"
      class="btn btn-secondary"
      >Cancelar</a
    >
  </fieldset>
</form>
{% endblock %}
