{% extends 'base.html' %} {% block content %}
<h2>Editar Usuário</h2>
<form class="form" method="post">
  <fieldset class="form__group">
    <label for="nome" class="form-label">Nome</label>
    <input
      type="text"
      class="form-control"
      id="nome"
      name="nome"
      value="{{ user['nome'] }}"
      required
    />
  </fieldset>
  <fieldset class="form__group">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      value="{{ user['email'] }}"
      required
    />
  </fieldset>
  <fieldset class="form__group">
    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    <a
      href="{{ url_for('clients.index_clientes_route') }}"
      class="btn btn-secondary"
      >Cancelar</a
    >
  </fieldset>
</form>
{% endblock %}
