{% extends 'base.html' %} {% block content %}
<h2>Adicionar Nova Reserva</h2>
<form class="form" method="post">
  <fieldset class="form__group">
    <label for="fk_cliente" class="form-label">Cliente</label>
    <input
      type="number"
      class="form-control"
      id="fk_cliente"
      name="fk_cliente"
      required
    />
  </fieldset>
  <fieldset class="form__group">
    <label for="fk_voo" class="form-label">Voo</label>
    <input
      type="number"
      class="form-control"
      id="fk_voo"
      name="fk_voo"
      required
    />
  </fieldset>
  <fieldset class="form__group">
    <label for="data" class="form-label">Data e Hora</label>
    <input
      type="datetime-local"
      class="form-control"
      id="data"
      name="data"
      value="{{ data_formatada }}"
      required
    />
  </fieldset>
  <fieldset class="form__group form__actions">
    <button type="submit" class="form__button">Adicionar</button>
    <a
      href="{{ url_for('bookings.index_bookings_route') }}"
      class="form__actions__link"
      >Voltar</a
    >
  </fieldset>
</form>
{% endblock %}
