{% extends 'base.html' %} {% block content %}
<h2>Lista de Reservas</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>ID Cliente</th>
      <th>ID Voo</th>
      <th>Data</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for booking in bookings %}
    <tr>
      <td>{{ booking['pk_reserva'] }}</td>
      <td>{{ booking['fk_cliente'] }}</td>
      <td>{{ booking['fk_voo'] }}</td>
      <td>{{ booking['data'] }}</td>
      <td>
        <a
          href="{{ url_for('bookings.update_bookings_route', reserva_id=booking['pk_reserva']) }}"
          class="btn btn-sm btn-primary"
          >Editar</a
        >
        <a
          href="{{ url_for('bookings.delete_bookings_route', reserva_id=booking['pk_reserva']) }}"
          class="btn btn-sm btn-danger"
          >Excluir</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{{ url_for('bookings.add_bookings_route') }}" class="btn btn-success"
  >Adicionar Nova Reserva</a
>
{% endblock %}
