{% extends 'base.html' %} {% block content %}
<h2>Atualizar Reserva</h2>
<form class="form" method="post">
  <fieldset class="form__group">
    <label for="data" class="form-label">Data e Hora</label>
    <input
      type="datetime-local"
      class="form-control"
      id="data"
      name="data"
      value="{{ booking['data'] }}"
      required
    />
  </fieldset>
  <fieldset class="form__group">
    <label for="fk_cliente" class="form-label">Cliente</label>
    <select class="form-select" id="fk_cliente" name="fk_cliente" required>
      <option value="" selected disabled hidden>Selecione um cliente</option>
      {% for cliente in clientes %}
      <option value="{{ cliente.pk_cliente }}" {% if cliente.pk_cliente == booking.fk_cliente %}selected{% endif %}>
        {{ cliente.nome }}
      </option>
      {% endfor %}
    </select>
  </fieldset>
  <fieldset class="form__group">
    <label for="fk_voo" class="form-label">Voo</label>
    <select class="form-select" id="fk_voo" name="fk_voo" required>
      <option value="" selected disabled hidden>Selecione um voo</option>
      {% for flight in flights %}
      <option value="{{ flight.pk_voo }}" {% if flight.pk_voo == booking.fk_voo %}selected{% endif %}>{{ flight.codigo_voo }}</option>
      {% endfor %}
    </select>
  </fieldset>
  <fieldset class="form__group">
    <label for="assento" class="form-label">Assento</label>
    <input
      type="text"
      class="form-control"
      id="assento"
      name="assento"
      value="{{ booking['assento'] }}"
      required
    />
  </fieldset>
  <fieldset class="form__group">
    <label for="classe" class="form-label">Classe</label>
    <select class="form-select" id="classe" name="classe" required>
      <option value="" selected disabled hidden>Selecione a classe</option>
      <option value="economica" {% if booking.classe == 'economica' %}selected{% endif %}>Economica</option>
      <option value="executiva" {% if booking.classe == 'executiva' %}selected{% endif %}>Executiva</option>
      <option value="primeira-classe" {% if booking.classe == 'primeira-classe' %}selected{% endif %}>Primeira Classe</option>
    </select>
  </fieldset>
  <fieldset class="form__group">
    <label for="status" class="form-label">Status</label>
    <select class="form-select" id="status" name="status" required>
      <option value="" selected disabled hidden>Selecione o status</option>
      <option value="pendente" {% if booking.status == 'pendente' %}selected{% endif %}>Pendente</option>
      <option value="confirmada" {% if booking.status == 'confirmada' %}selected{% endif %}>Confirmado</option>
      <option value="cancelada" {% if booking.status == 'cancelada' %}selected{% endif %}>Cancelado</option>
    </select>
  </fieldset>
  <fieldset class="form__group form__actions">
    <button type="submit" class="form__button">Salvar</button>
    <a
      href="{{ url_for('bookings.index_bookings_route') }}"
      class="form__actions__link"
      >Voltar</a
    >
  </fieldset>
</form>
{% endblock %}
