<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/logo.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <nav class="header__nav container">
        <a class="nav__logo" href="{{ url_for('main.index_route') }}">
          <img
            class="nav__img"
            src="{{ url_for('static', filename='img/logo.png') }}"
          />
        </a>
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="{{ url_for('main.index_route') }}"
              >Home</a
            >
          </li>
          <li class="nav__item">
            <a
              class="nav__link"
              href="{{ url_for('clients.index_clientes_route') }}"
              >Users</a
            >
          </li>
          <li class="nav__item">
            <a
              class="nav__link"
              href="{{ url_for('flights.index_flights_route') }}"
              >Flights</a
            >
          </li>
          <li class="nav__item">
            <a
              class="nav__link"
              href="{{ url_for('bookings.index_bookings_route') }}"
              >Bookings</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <div class="main__content container">
        {% block content %} {% endblock %}
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <p class="footer__content">
          &copy; 2024 AirXpress -
          <a
            href="https://github.com/Guilh3rme06/AirXpress-IPLUSO"
            class="footer__link"
            >GitHub</a
          >
        </p>
      </div>
    </footer>
  </body>
</html>
