{% extends 'base.html' %} {% block content %}
<p class="index__text">
  Exercicio da Unidade Curricular de Fundamentos de Base de Dados, na
  instituição
  <a
    class="index__link"
    href="https://www.ipluso.pt/ctesp/ctesp-em-desenvolvimento-para-a-web-e-dispositivos-moveis"
    target="_blank"
    >IPLUSO</a
  >, lecionada pelo
  <a
    class="index__link"
    href="https://www.linkedin.com/in/tiagocunhareis/"
    target="_blank"
    >Prof. Doutor Tiago Cunha Reis</a
  >.
</p>
{% endblock %}
